*
{
	box-sizing: border-box;
}
body
{
	margin: auto;
}

#navbar 
{
overflow: hidden;
background-color: grey;
font-family: Arial;
}

#navbar a 
{
float: left;
font-size: 16px;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

#navbar a:hover
{
background-color: #4CAF50;
cursor: pointer;
}

li
{
	list-style: none;
}

li.navbarRight
{
	float: right;
}

h1 
{
text-align: center;  
}

h2
{
	text-align: center;
}

.sticky 
{
position: fixed;
top: 0;
width: 100%;
}

#footer
{
background-color: #4CAF50;
height: 10em;
margin-top: 1em;
}

#footer div
{
float: left;
width: 50%;
padding: 10px;
}





/*/////////////////////////////////////Current Testing///////////////////////////////////////*/















/*//////////////////////////////////////////////Form CSS//////////////////////////////////////*/
form 
{
width: 100%;
margin: 0 auto;
}

label,
input 
{
display: inline-block;
}

label 
{
width: 10%;
text-align: left;
}


input[type=text], input[type=username], input[type=email], input[type=tel], input[type=password], select 
{
width: 14em;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 0.5em;
box-sizing: border-box;
}

input[type=submit] 
{
width: 12em;
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer;
}

input[type=submit]:hover 
{
background-color: #45a049;
}



